/**
 * IBM Design Theme
 * Made with love for the designers
 * and developers of IBM <3 Una
 */
/**
 * IBM Design Theme
 */
.reveal {
  font-weight: 200 !important; }
  .reveal img {
    border: none !important;
    box-shadow: none !important; }
    .reveal img.center {
      display: block;
      margin: 0 auto; }
  .reveal .slides {
    text-align: left; }
    .reveal .slides [data-background='#000'] blockquote {
      color: #fff !important; }
  .reveal code {
    color: #af6ee8;
    background: #f4f4f4;
    outline: 1px solid #e0e0e0;
    padding: 0 .25em; }
  .reveal pre {
    box-shadow: none; }
  .reveal pre > code {
    font-size: 1.5em !important;
    line-height: 1.4;
    padding: .5em; }
  .reveal p {
    line-height: 1.5; }
  .reveal ol, .reveal ul {
    line-height: 1.5; }
  .reveal h1 {
    font-weight: 800; }
  .reveal blockquote {
    font-style: normal;
    box-shadow: none;
    font-size: 48px;
    line-height: 1.44;
    width: 100%; }
    .reveal blockquote footer {
      text-align: right;
      font-size: 80%; }
    .reveal blockquote em {
      color: #af6ee8; }
  .reveal .ibm-header {
    position: absolute;
    top: 0;
    z-index: 13;
    display: block;
    width: 100%;
    height: 2em;
    border-bottom: 1px solid #aeaeae; }
    .reveal .ibm-header .header-logo {
      padding: .4em .8em;
      text-align: left; }

.intro-slide .intro-text {
  font-weight: 800;
  text-shadow: 0.05em 0.05em #31223c; }
.intro-slide ul {
  margin: 4em 0 0 0; }
.intro-slide li {
  font-size: 1.4em;
  list-style: none;
  color: #fdd600; }
  .intro-slide li:first-child {
    font-weight: 800; }

.content-info {
  background: #fff;
  position: absolute;
  bottom: 0;
  z-index: 12;
  width: 100%;
  text-align: left; }
  .content-info .intro-design-logo {
    padding: .4em .8em;
    width: 100%;
    background: #fff;
    position: absolute;
    display: block; }
  .content-info .confidential-mark {
    font-size: 50%;
    padding: 1.3em 2em;
    font-weight: 200;
    margin-bottom: 0;
    color: #aeaeae; }

.reveal .ibm-header .header-logo .ibm, .intro-design-logo .ibm {
  font-weight: 200; }
.reveal .ibm-header .header-logo .design, .intro-design-logo .design {
  font-weight: 800; }

.intro-design-logo {
  background: #fff;
  position: absolute;
  bottom: 0;
  z-index: 12;
  width: 100%; }

.labeled-list dd {
  font-size: 120%;
  color: #af6ee8;
  margin-bottom: .25em;
  font-weight: 800; }
.labeled-list dt {
  margin-bottom: 1.5em;
  line-height: 1.5; }

.center {
  text-align: center; }

.half-left, .half-right {
  width: 45%;
  padding: 0 2.5%; }

.half-left {
  float: left; }

.half-right {
  float: right; }

@-webkit-keyframes rollaway {
  0% {
    transform: rotate(0deg);
    margin-left: 0; }
  100% {
    margin-left: 50%;
    transform: rotate(600deg); } }
@-moz-keyframes rollaway {
  0% {
    margin-left: 0;
    transform: rotate(0deg); }
  100% {
    margin-left: 50%;
    transform: rotate(600deg); } }
.rollaway {
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -moz-animation-name: rollaway;
  -webkit-animation-name: rollaway;
  animation-name: rollaway;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.file-type-image, .C-image-area, .D-image-area {
  position: absolute;
  right: 0;
  background-color: white !important;
  display: block !important; }

.file-type-image {
  max-width: 800px;
  top: 30px; }

.C-image-area {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  top: 180px; }
  .C-image-area img {
    width: 80%;
    margin-top: -40px !important; }

.D-image-area img {
  margin: 0 auto;
  display: block; }

.third {
  width: 32%;
  display: inline-block; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #412356; }

::selection {
  color: #fff;
  background: #412356;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #af6ee8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: initial;
  text-shadow: none; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #9855d4;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #c9a6e9;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #722db0; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #412356;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #9855d4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #9855d4; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #9855d4; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #9855d4; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #9855d4; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #c9a6e9; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #c9a6e9; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #c9a6e9; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #c9a6e9; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #9855d4;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #9855d4; }

/*# sourceMappingURL=nomnomperf.css.map */
