/**
 * IBM Design Theme
 * Made with love for the designers
 * and developers of IBM <3 Una
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

/**
 * IBM Design Theme
 */

//Color Pallette
$__color-palette: (
  'blue': (
    core: #4178be,
    10: #c0e6ff,
    20: #7cc7ff,
    30: #5aaafa,
    40: #5596e6,
    50: #4178be,
    60: #325c80,
    70: #264a60,
    80: #1d3649,
    90: #152935,
    100: #010205
  ),
  'green': (
    core: #4b8400,
    10: #c8f08f,
    20: #b4e051,
    30: #8cd211,
    40: #6eb400,
    50: #4b8400,
    60: #2d660a,
    70: #144d14,
    80: #0a3c02,
    90: #0c2808,
    100: #010200
  ),
  'teal': (
    core: #008571,
    10: #a7fae6,
    20: #6eedd8,
    30: #41d6c3,
    40: #00b4a0,
    50: #008571,
    60: #006d5d,
    70: #005448,
    80: #003c32,
    90: #012b22,
    100: #000202
  ),
  'purple': (
    core: #9855d4,
    10: #eed2ff,
    20: #d7aaff,
    30: #ba8ff7,
    40: #af6ee8,
    50: #9855d4,
    60: #734098,
    70: #562f72,
    80: #412356,
    90: #311a41,
    100: #030103
  ),
  'magenta': (
    core: #db2780,
    10: #ffd2ff,
    20: #ff9eee,
    30: #ff71d4,
    40: #ff3ca0,
    50: #db2780,
    60: #a6266e,
    70: #7c1c58,
    80: #601146,
    90: #3a0b2e,
    100: #040102
  ),
  'red': (
    core: #e71d32,
    10: #ffd2dd,
    20: #ffa5b4,
    30: #ff7d87,
    40: #ff5050,
    50: #e71d32,
    60: #ad1625,
    70: #8c101c,
    80: #6e0a1e,
    90: #4c0a17,
    100: #040001
  ),
  'orange': (
    core: #ff7832,
    10: #ffd4a0,
    20: #ffa573,
    30: #ff7832,
    40: #ff5003,
    50: #d74108,
    60: #a53725,
    70: #872a0f,
    80: #6d120f,
    90: #43100b,
    100: #030100
  ),
  'yellow': (
    core: #fdd600,
    10: #fde876,
    20: #fdd600,
    30: #efc100,
    40: #be9b00,
    50: #8c7300,
    60: #735f00,
    70: #574a00,
    80: #3c3200,
    90: #281e00,
    100: #020100
  ),
  'gray': (
     core: #777677,
     10: #e0e0e0,
     20: #c7c7c7,
     30: #aeaeae,
     40: #959595,
     50: #777677,
     60: #5a5a5a,
     70: #464646,
     80: #323232,
     90: #121212,
    100: #000
  ),
  'cool-gray': (
     core: #6d7777,
     10: #dfe9e9,
     20: #c8d2d2,
     30: #aeb8b8,
     40: #959f9f,
     50: #6d7777,
     60: #586262,
     70: #3c4646,
     80: #323c3c,
     90: #0d1111,
    100: #000203
  ),
  'warm-gray': (
     core: #7d7373,
     10: #e9e0e0,
     20: #d0c7c7,
     30: #b8aeae,
     40: #9e9494,
     50: #7d7373,
     60: #645a5a,
     70: #504646,
     80: #3c3232,
     90: #1a1314,
    100: #030000
  ),
  'neutral-white': (
    core: #fdfdfd,
    10: #fdfdfd,
    20: #f9f9f9,
    30: #f4f4f4,
    40: #ececec
  ),
  'cool-white': (
    core: #fbfcfc,
    10: #fbfcfc,
    20: #f9f9fb,
    30: #f0f2f4,
    40: #ecf2f2
  ),
  'warm-white': (
    core: #fdfbfb,
    10: #fdfbfb,
    20: #fdfbfb,
    30: #f7f5f5,
    40: #f2eeee
  ),
  'black': (
    core: #000
  ),
  'white': (
    core: #fff
  )
);

//////////////////////////////
// Color Palette
//
// Gets the specified color from the color palette
//
// Usage:
//
// background: color('blue', 80); // #1D3649
// background: color('blue');     // #4178BE
//////////////////////////////
@function color($color, $tone: 'core') {
  // Add a little helper so tone can be passed as single digit number
  @if type-of($tone) == 'number' {
    @if $tone % 10 == $tone {
      $tone: $tone * 10;
    }
  }
  @return map-get(map-get($__color-palette, $color), $tone);
}

//Typography
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Override theme settings (see ../template/settings.scss)
$mainFont: $font-stack;
$mainColor: #000;
$headingFont: $font-stack;
$mainColor: color('purple', 80);
$headingColor: color('purple', 40);
$backgroundColor: color('white');
$linkColor: color('purple', 50);
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: color('purple', 80);
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;
$headingTextTransform: initial;
$mainFontSize: 24px;
$headingLineHeight: 1.2;

// Override the settings that we don't have options for
$defaultLineHeight: 1.5;

.reveal {
	font-weight: 200 !important;

	img { //oh reveal -__- your css makes me so sad
		border: none !important;
		box-shadow: none !important;

		&.center {
			display: block;
			margin: 0 auto;
		}
	}

	.slides {
		text-align: left;

    [data-background='#000'] {
      blockquote {
        color: color('white') !important;
      }
    }
	}

	code {
		color: $headingColor;
		background: color('neutral-white', 30);
		outline: 1px solid color('gray', 10);
		padding: 0 .25em;
	}

  pre {
    box-shadow: none;
  }

  pre>code {
    font-size: 1.5em !important;
    line-height: 1.4;
    padding: .5em;
  }

	p {
		line-height: $defaultLineHeight;
	}

  ol, ul {
    line-height: $defaultLineHeight;
  }

	h1 {
		font-weight: 800;
	}

	blockquote {
		font-style: normal;
		box-shadow: none;
		font-size: $mainFontSize*2;
		line-height: $headingLineHeight*1.2;
		width: 100%;

		footer {
			text-align: right;
			font-size: 80%;
		}

		em {
			color: $headingColor;
		}
	}

  .ibm-header {
    position: absolute;
    top: 0;
    z-index: 13;
    display: block;
    width: 100%;
    height: 2em;
    border-bottom: 1px solid color('gray', 30);

    .header-logo {
      @extend %weight-switch;
      padding: .4em .8em;
      text-align: left;
    }
  }
}

.intro-slide {

  .intro-text {
    font-weight: 800;
    text-shadow: .05em .05em mix(#222, $mainColor, 50%);
  }

	ul {
		margin: 4em 0 0 0;
	}

	li {
    font-size: 1.4em;
		list-style: none;
		color: #fdd600;

		&:first-child {
			font-weight: 800;
		}
	}
}

.content-info {
	background: color('white');
	position: absolute;
	bottom: 0;
	z-index: 12;
	width: 100%;
	text-align: left;

	.intro-design-logo {
		padding: .4em .8em;
		width: 100%;
		background: color('white');
		position: absolute;
		display: block;
	}

	.confidential-mark {
		font-size: 50%;
		padding: 1.3em 2em;
		font-weight: 200;
		margin-bottom: 0;
		color: color('gray', 30);
	}
}

%weight-switch {
  .ibm {
    font-weight: 200;
  }
  .design {
    font-weight: 800;
  }
}

.intro-design-logo {
	background: color('white');
	position: absolute;
	bottom: 0;
	z-index: 12;
	width: 100%;
}

.intro-design-logo {
	@extend %weight-switch;
}

// labeled lists (like the hills list)
.labeled-list{
	dd {
		font-size: 120%;
		color: $headingColor;
		margin-bottom: .25em;
		font-weight: 800;
	}
	dt {
		margin-bottom: 1.5em;
		line-height: $defaultLineHeight;
	}
}

.center {
	text-align: center;
}

%half {
	width: 45%;
	padding: 0 2.5%;
}

.half-left {
	@extend %half;
	float: left;
}

.half-right {
	@extend %half;
	float: right;
}






// JUST this presentation


@-webkit-keyframes rollaway{
  0% {
    transform: rotate(0deg);
    margin-left: 0;
  }
  100% {
    margin-left: 50%;
    transform: rotate(600deg);
  }
}

@-moz-keyframes rollaway{
  0% {
    margin-left: 0;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 50%;
    transform: rotate(600deg);
  }
}

.rollaway {
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -moz-animation-name: rollaway;
  -webkit-animation-name: rollaway;
  animation-name: rollaway;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}


%hold-image {
  position: absolute;
  right: 0;
  background-color: white !important;
  display: block !important;
}

.file-type-image {
  @extend %hold-image;
  max-width: 800px;
  top: 30px;
}

.C-image-area {
  @extend %hold-image;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  top: 180px;

  img {
    width: 80%;
    margin-top: -40px !important;
  }
}

.D-image-area {
  @extend %hold-image;
  img {
    margin: 0 auto;
    display: block;
  }
}

.third {
  width: 32%;
  display: inline-block;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
